player-connection-mode=Listen
player-connection-guid=3843896264
player-connection-debug=0
player-connection-project-name=Kitchen Chaos
player-connection-ip=192.168.1.100
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=d9f7ceb7e0fa42c68b3317c6507fbb63
